/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-radius: $card-radius

    & + .card, & + .column-right-shadow
        margin-top: 1.5rem

    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius

    .media + .media
        border: none
        margin-top: 0


/* ---------------------------------
 *              Horizontal Card
 * --------------------------------- */

.card
  .media:not(:last-child)
    margin-bottom: 0.75rem
    
  // Flex content order putting `.card-image` on right /* NOTE: Add this line */
  &.card--reverse-order /* NOTE: Add this line */
    flex-direction: row-reverse /* NOTE: Add this line */

  &.is-horizontal
    // flex-direction: row /* NOTE: Remove this line */
    display: flex
    flex-basis: 50ex
    flex-grow: 0
    flex-shrink: 1
    .card-image
      flex: 1
      flex-shrink: 1
      .image
        display: block
        position: relative
        overflow: hidden
        height: 100%
        width: 100%
        img
          height: 100%
          object-fit: cover
          object-position: center

    .card-content
      flex: 3
     
