
@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/londrinasolid/v10/flUiRq6sw40kQEJxWNgkLuudGfvdDwYzlZw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* profile image modifier */
.image.is-250 {
    max-width: 225px;
}
.image.is-400 {
    max-width: 400px;
}

/* Frontpage headlines and category image styles */
.fp-image {
    width: 420px;
    height: 300px;
    overflow: hidden;
    margin-top: -316px;
    margin-left: auto;
    z-index: 200;
    position: relative;
    +mobile() {
        width: 210px;
        height: 150px;
        margin-top: -166px;
    }
}
.fp-outer {
    padding-top: 250px;
    +mobile() {
        padding-top: 125px;
    }

}
.fp-outer > a.title {
    display:block;
    padding-left:20px;
    font-family: 'Londrina Solid', cursive;
    text-shadow: 0 0 4px #fff;
    z-index: 1200;
    position: relative;
}
.k-tag {
    background-color: #eee;
    border-radius: 5px;
    width: 90%;
    padding:5px 0;
}

+from($tablet)
    .navbar-brand {
        display:none
    }

/* kuler selection #1
.color-theme_c6e6bb2669de0e16af098107b44d2a89-1-hex { color: #8C3074; }
.color-theme_c6e6bb2669de0e16af098107b44d2a89-2-hex { color: #F67435; }
.color-theme_c6e6bb2669de0e16af098107b44d2a89-3-hex { color: #F2F2F2; }
.color-theme_c6e6bb2669de0e16af098107b44d2a89-4-hex { color: #344F73; }
.color-theme_c6e6bb2669de0e16af098107b44d2a89-5-hex { color: #16778C; }
*/
/* categories colors
ul.menu-list > li:first-child {
    background-color: #F2BDCB;
}
ul.menu-list > li:nth-child(2) {
    background-color: #A3BFD9;
}
ul.menu-list > li:nth-child(3) {
    background-color: #C2E0F2;
}
*/


/* ---------------------------------
 *        Back to Top Button
 * --------------------------------- */
#back-to-top
    position: fixed
    opacity: 0
    outline: none
    padding: 8px 0
    line-height: 24px
    border-radius: $card-radius
    transform: translateY(120px)
    transition: .4s ease opacity, .4s ease width, .4s ease transform, .4s ease border-radius

    &.is-rounded
        border-radius: 50%

    &.fade-in
        opacity: 1

    &.rise-up
        transform: translateY(0)

/* ---------------------------------
 *          Gallery Plugin
 * --------------------------------- */
.gallery-item
    .caption
        color: $grey

/* ---------------------------------
 *      Table of Content Widget
 * --------------------------------- */
+mobile()
    #toc
        display: none
        position: fixed
        margin: 1rem
        left: 0
        right: 0
        bottom: 0
        z-index: 100
        max-height: calc(100vh - 2rem)
        overflow-y: auto

    #toc-mask
        display: none
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 99
        background: rgba(0, 0, 0, .7)

    #toc, #toc-mask
        &.is-active
            display: block

/* ---------------------------------
 *      Page Loading Progressbar
 * --------------------------------- */
.pace
    user-select: none
    pointer-events: none

    .pace-progress
        top: 0
        right: 100%
        width: 100%
        height: 2px
        z-index: 2000
        position: fixed
        background: $primary

.pace-inactive
    display: none

/* ---------------------------------
 *       Fix FontAwesome Icons
 * --------------------------------- */
.fa, .fab, .fal, .far, .fas
    line-height: inherit

/* ---------------------------------
 *       MathJax and KaTeX
 * --------------------------------- */
.MathJax, .katex-display
    overflow-x: auto
    overflow-y: hidden

.katex
    white-space: nowrap

.katex-display
    margin-top: -1em !important

.katex-html
    padding-top: 1em
    .tag
        align-items: unset
        background-color: unset
        border-radius: unset
        color: unset
        display: unset
        font-size: unset
        height: unset
        justify-content: unset
        line-height: unset
        padding-left: unset
        padding-right: unset
        white-space: unset